<section id="support-url" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated zoomInRight"><strong>Support Url</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">Need to contact us?</h4>
                <hr>
                <h5>Email</h5>
                <p>tr3umphant.designs@gmail.com</p>
                <h5>Phone</h5>
                <p>(937)270-5527</p>
            </div>
        </div>
    </div>
</section>